<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="hyperion_xamarin.android.testapp" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
  <application>
    <service android:name="xamarin.mark.for.MonoRuntimeProvider.generation.crash" android:process=":crash" />
    <service android:name="xamarin.mark.for.MonoRuntimeProvider.generation.phoenix" android:process=":phoenix" />
  </application>
</manifest>